:root {
  --main-color: #252435;
  --main-color-dark: #1E1D2A;
  --secondary-color: #A48EF7;
  --light: #FFF;
  --grey: rgba(255, 255, 255, 0.747);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--main-color);
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6,
.btn, .nav-links ul li {
  font-family: 'Poppins', sans-serif;
}

.btn {
  width: 200px;
  height: 50px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.anim-1 {
  animation: appear 1s forwards;
}
.anim-2 {
  animation: appear 1.5s forwards;
}
.anim-3 {
  animation: appear 2s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#header {
  width: 100%;
  height: 100vh;
  background: var(--main-color-dark) url(../assets/background.svg);
  background-position: center;
}

#header .navbar {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'DM Sans', sans-serif;
  padding: 0 8%;
  height: 100px;
  background-color: rgba(30, 29, 42, 0.9);
}

#header .navbar .logo {
  float: left;
  width: 40%;
  height: 100%;
  font: 900 24px 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: var(--light);
  display: flex;
  align-items: center;
  text-decoration: none;
}

#header .logo span {
  color: var(--secondary-color);
}

#header .navbar .links {
  float: right;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header .links a {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--grey);
  text-decoration: none;
  transition: all .5s ease;
}

#header .links a:hover,
#header .links a:focus {
  color: var(--secondary-color);
}

#header .navbar #language label {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#header #language input[type="checkbox"] {
  display: none;
}

#language input[type="checkbox"] + label::before {
  content: url(./assets/flag-pt.png);
}

#language input[type="checkbox"]:checked + label::before {
  content: url(./assets/flag-en.png);
}

#header .navbar #nav-toggle{
  position: absolute;
  display: none;
}

#header .navbar .icon-burger {
  display: none;
  position: absolute;
  right: 8%;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

#header .icon-burger .line {
  width: 25px;
  height: 3.5px;
  background-color: var(--light);
  margin: 5px;
  border-radius: 3px;
  transition: all .50s ease;
}

#header .h-content {
  width: 100%;
  height: auto;
  padding: 180px 8%;
}

#header .h-content h1 {
  width: 40%;
  font-family: 'Poppins', sans-serif;
  font-size: 70pt;
  font-weight: 900;
  line-height: 99.5%;
  color: var(--light);
  text-transform: uppercase;
}

#header .h-content span {
  color: var(--secondary-color);
}

#header .h-content p {
  width: 100%;
  padding: 10px 0 40px;
  font-size: 17px;
  letter-spacing: .5px;
  line-height: 30px;
  color: var(--grey);
}

#header .h-content .intro-buttons {
  width: 410px;
  display: flex;
  justify-content: space-between;
}

#header .h-content .primary-btn {
  display: flex;
  color: var(--light);
  background-color: var(--secondary-color);
}

#header .h-content .secondary-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

#header .primary-btn:hover,
#header .secondary-btn:hover {
  border: none;
  background-color: rgba(164, 142, 247, .8);
}

#header .intro-buttons .icon {
  display: none;
  color: var(--light);
  transition: all .5s ease;
}
#header .primary-btn:hover .icon,
#header .secondary-btn:hover .icon {
  display: block;
}

#header .primary-btn div,
#header .secondary-btn div {
  display: grid;
  place-items: center;
  transition: all .5s ease;
}

#header .primary-btn div:nth-child(1),
#header .secondary-btn div:nth-child(1) {
  height: 100%;
  width: 0px;
}

#header .primary-btn:hover div:nth-child(1),
#header .secondary-btn:hover div:nth-child(1) {
  width: 50px;
}

#header .primary-btn div:nth-child(2) {
  background-color: var(--secondary-color);
}

#header .primary-btn div:nth-child(2),
#header .secondary-btn div:nth-child(2) {
  height: 100%;
  width: 200px;
}

#header .primary-btn:hover div:nth-child(2),
#header .secondary-btn:hover div:nth-child(2) {
  width: 150px;
  color: var(--light);
  background-color: var(--secondary-color);
}

#header .profile-banner {
  display: none;
}

#about {
  width: 100%;
  height: auto;
  padding: 150px 8%;
  text-align: center;
}

#about .text-section {
  padding: 0 0 50px;
}

#about .text-section h2 {
  padding: 0 0 30px;
  font-size: 42px;
  font-weight: 800;
  color: var(--light);
}

#about .text-section p {
  width: 70%;
  margin: auto;
  padding: 0 0 20px;
  font-size: 16px;
  line-height: 30px;
  color: var(--grey);
}

#about .text-section p.p-1 {
  padding-bottom: 30px;
}

#about .info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#about .info-cards .card {
  width: 200px;
  height: auto;
  margin: 0 0 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#about .card .circle {
  width: 55px;
  height: 55px;
  margin-bottom: 15px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  color: var(--secondary-color);
  background: var(--main-color-dark);
}

#about .card h3 {
  color: var(--light);
  padding: 5px 0;
}

#about .card p {
  color: var(--grey);
}

#skills {
  width: 100%;
  height: auto;
  padding: 150px 8%;
  position: relative;
  text-align: center;
  background: var(--main-color-dark);
}

#skills .skills-label {
  color: var(--secondary-color);
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#skills .skills-title {
  color: var(--light);
  font-size: 28px;
  margin: 15px auto 50px;
}

#skills .skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#skills .skill-cards .card {
  width: 250px;
  height: 250px;
  margin: 15px 30px;
  background-color: var(--main-color);
  border-bottom: 5px solid #A48EF7;
  text-decoration: none;
  display: grid;
  place-items: center;
  transition: all .5s ease;
}

#skills .skill-cards .card:hover {
  transform: translateY(-12px);
}

#skills .skill-cards .card-info {
  width: 100%;
  height: 80%;
  display: grid;
  place-items: center;
}

#skills .card-info .card-icon {
  width: 100%;
  height: 70px;
  display: grid;
  place-items: center;
}

#skills .card-icon .size {
  width: 50px;
  height: 50px;
  color: var(--secondary-color);
}

#skills .card-info .card-text {
  width: 200px;
  word-break: break-word;
}

#skills .card-text h4 {
  color: var(--light);
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

#skills .card-text p {
  color: rgba(255, 255, 255, 0.37);
  font-size: 11px;
  line-height: 17px;
}

#skills .card-text .c-gap {
  margin-bottom: 10px;
}

#portfolio {
  width: 100%;
  height: auto;
  padding: 150px 8% 0;
  text-align: center;
}

#portfolio .portfolio-label {
  color: var(--secondary-color);
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#portfolio .portfolio-title {
  color: var(--light);
  font-size: 28px;
  margin: 15px auto 50px;
}

#portfolio .projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#portfolio .projects .project-card {
  position: relative;
  background: url(https://source.unsplash.com/random);
  width: 300px;
  height: 300px;
  margin: 15px;
  overflow: hidden;
  transition: all .5s ease;
}

#portfolio .project-info {
  position: absolute;
  width: 100%;
  bottom: -100px;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  background-color: rgba(164, 142, 247, .5);
  padding: 20px;
  transition: all .5s ease;
}

#portfolio .project-card:hover .project-info {
  transform: translateY(-100px);
}

#portfolio .project-card h4 {
  color: var(--light);
  padding: 5px 0 15px;
  font-weight: bold;
  line-height: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

#portfolio .project-card p {
  color: var(--grey);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#portfolio .project-card hr {
  width: 30px;
  border: 1px solid #FFF;
}

#portfolio .exp-more {
  padding: 30px;
}

#portfolio .exp-more a {
  color: var(--grey);
  font-size: 14px;
}

#contact {
  width: 100%;
  height: auto;
  padding: 150px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .contact-label {
  color: var(--secondary-color);
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#contact .contact-title {
  color: var(--light);
  font-size: 28px;
  margin: 15px auto 50px;
  text-align: center;
}

#contact .contact-title .span-2 {
  color: var(--secondary-color);
}

#contact .contact-containers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#contact .contact-containers .container {
  width: 500px;
  height: 500px;
}

#contact .contact-information {
  background-color: var(--main-color-dark);
}

#contact .c-info-content{
  width: 100%;
  height: 100%;
  padding: 10%;
}

#contact .c-info-content h3 {
  padding: 10px 0;
  font-size: 22px;
  color: var(--secondary-color);
  text-transform: uppercase;
}

#contact .c-info-content .c-info-desc {
  padding: 20px 0;
  font-size: 16px;
  color: var(--grey);
  line-height: 30px;
}

#contact .c-info-content div {
  width: 100%;
  height: auto;
  padding: 20px 0;
  font-size: 14px;
  color: var(--light);
  display: flex;
  align-items: center;
}

#contact .c-info-content .gap{
  margin-right: 15px;
  color: var(--secondary-color);
}

#contact .contact-form {
  background-color: var(--light);
}

#contact .c-form-container {
  height: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .c-form-container input,
#contact .c-form-container textarea {
  width: 100%;
  height: 40px;
  margin: 15px auto;

  color: var(--main-color-dark);
  font: 400 12px 'Poppins', sans-serif;

  background: none;
  border: none;
  border-bottom: 1px solid #25243531;
}

#contact .c-form-container input:focus,
#contact .c-form-container textarea:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: var(--main-color-dark);
  opacity: .6;
}

:-ms-input-placeholder {
  color: var(--main-color-dark);
  opacity: .6;
}

::placeholder {
  color: var(--main-color-dark);
  opacity: .6;
}

#contact .c-form-container textarea {
  height: 120px;
}

#contact .c-form-container .btn-field {
  background: var(--main-color);
}

#contact .c-form-container .btn-field {
  font-size: 11px;
  letter-spacing: normal;
  color: var(--light);
  cursor: pointer;
}

footer {
  width: 100%;
  height: auto;
  background-color: var(--main-color-dark);
}

footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer .section-1 {
  padding: 50px 8%;
}

footer .section-2 {
  padding: 20px 0;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #16151f;
  color: rgba(255, 255, 255, 0.4);
  display: grid;
  place-content: center;
}

footer .section-2 a {
  color: var(--secondary-color);
  text-decoration: none;
}

footer a.logo {
  padding: 15px 0;
  font: 900 24px 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: var(--light);
  text-decoration: none;
}

footer a.logo span {
  color: var(--secondary-color);
}

footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-links li {
  transition: all .5s ease;
}

footer .social-links li:hover {
  scale: 1.1;
}

footer .social-links li a {
  margin: 10px;
  padding: 10px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background-color: var(--main-color);
}

footer .social-links .footer-icon{
  width: 20px;
  height: 20px;
  color: var(--secondary-color);
}

.scrollTop {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: grid;
  place-content: center;
}

.scrollTop .icon {
  width: 34px;
  height: 34px;
  color: var(--main-color-dark);
}

.scrollTop:hover .icon,
.scrollTop:focus .icon {
  animation: moveUp 1s infinite;
}

@keyframes moveUp {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}

@media screen and (min-width: 769px) {
  #header .h-content p {
    width: 500px;
    word-break: break-all;
  }
}

@media screen and (max-width: 768px) {
  #header {
    background-image: none;
    height: auto;
  }
  #header .navbar .logo {
    float: none;
    margin: auto;
    justify-content: center;
  }
  #header .navbar .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 100%;
    top: 100px;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(30, 29, 42, 0.9);
    overflow: hidden;
    transition: all .50s ease;
  }
  #header .navbar .links a {
    font-size: 16px;
  }
  #header .navbar :checked ~ .links {
    bottom: 0;
  }
  #header .navbar .icon-burger {
    display: block;
  }
  #header .navbar :hover ~ .icon-burger .line:nth-child(2) {
    transform: translateX(8px);
    background-color: var(--secondary-color);
  }
  #header .navbar :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(8.5px) rotate(225deg);
    background-color: var(--secondary-color);
  }
  #header .navbar :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-8.5px) rotate(-225deg);
    background-color: var(--secondary-color);
  }
  #header .navbar :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  #header .h-content {
    padding: auto 5%;
    text-align: center;
  }
  #header .h-content h1 {
    width: 100%;
    font-size: 50pt;
  }
  #header .h-content .intro-buttons {
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  #header .profile-banner {
    display: block;
    width: 100%;
    height: 100vh;
    background: url(./assets/banner.svg);
    background-size:cover;
    background-position: 87% 0;
  }
  #about .text-section p {
    width: 100%;
  }
  #portfolio .project-info {
    bottom: 0px;
    background-color: rgba(164, 142, 247, .5);
  }
  #portfolio .project-card:focus {
    transform: translateY(-10px);
  }
  #portfolio .project-card:hover .project-info {
    transform: translateY(0px);
  }
  footer section {
    justify-content: center;
  }
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.130);
}